.table_text__color tr:hover {
  color: #d6d9dc !important;
}

.password__container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #fff;
  padding: 10px 50px 50px;
}

.h2__title {
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  margin-bottom: 50px;
}

/* form starting stylings ------------------------------- */
.password__group {
  position: relative;
  margin-bottom: 45px;
}
.password__input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.password__input:focus {
  outline: none;
}

.password__label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.password__input:focus ~ .password__label,
.password__input:valid ~ .password__label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password__bar {
  position: relative;
  display: block;
  width: 300px;
}
.password__bar:before,
.password__bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.password__bar:before {
  left: 50%;
}
.password__bar:after {
  right: 50%;
}

.password__input:focus ~ .password__bar:before,
.password__input:focus ~ .password__bar:after {
  width: 50%;
}
